<div class="hero">
    <img src="../../assets/gingerbread-5884607_1920.jpg" alt="hero" />
</div>

<div class="main">
    <img src="../../assets//carousel-7.jpeg" alt="hero1" />
    <div class="content">
        <h1>Why CakesmyBakes?</h1>
        <p>Cakes and Bakes is just another Bakery with Home Style baking - Yes. However, we are passionate about Baking,
            Modern in
            our outlook and dedicated to bring smile on your faces - Not that you will mind, but we are also Affordable. A
            few words
            to describe our cakes, cupcakes and bakes are Creative. Modern, Out of the Box, Colourful, Fun. With Cakes and
            Bakes you
            have unlimited options.</p>
    </div>
</div>
