section {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 347px;
}

button{
    width: 120px;
    padding: 5px;
    border-radius: 6px;
    background-color: #d9534f;
}

a{
    color: white;
}
